# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.xccheckout
*.xcuserstate
DerivedData/
*.moved-aside
.idea/
*.swp
*.swo

# Swift Package Manager
#
Package.pins
Package.resolved

# CocoaPods
#
Pods/
Podfile.lock

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Xcode Server
#
xcuserdata/

# Other
#
*.DS_Store
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.hmap
*.ipa
*.dSYM/
*.DS_Store
*.xcarchive
*.xcuserdata/
*.moved-aside

# Log files
*.log

# VS Code directories
.vscode/
